/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My code  */

#description {
  max-height: 250px;
}

@font-face {
  font-family: daniel;
  src: url(../Fonts/daniel/daniel.ttf);
}

:root {
  
  --white-100: #f0edee;
  --green-500: #174F31;
  --green-100: #59CD90;
  --green-300: #44633F;
  --violet-100: #9093B6;
  --violet-300:#616594;
  --violet-500: #2b2d42;
}

body {

  background-color: var(--violet-500);
  color: var(--white-100);
  display: grid;
  grid-template-rows: 10rem 10fr 1fr;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

main {
  width: 85%;
  padding: 1rem 0 1rem 0;
  display: grid;
  
}



header {
  /* background-color: var(--violet-300); */
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #616594;
}

footer {
  background-color: var(--violet-300);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



footer > div > p {
  font-family: daniel;
  font-size: 1.2rem;
  align-self: center;
}


footer > div > a > picture > svg {
  fill: white;
  width: 3rem;
}

footer > div > p:hover {
  color: var(--green-100);
}

footer > div > a > picture > svg:hover, 
footer > div > p:hover {
  fill: var(--green-100);
}

footer > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  width: 250px;
}

dialog {
  min-width: 350px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--violet-500);
  color: var(--white-100);
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.8);
}

dialog::backdrop {
  background-color: var(--violet-500);
  opacity: 0.8;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px)); 
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.center {
  align-self: center;
  justify-self: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 30fr;
  gap: 1rem;
  border-radius: 10px;
  border: 0px solid var(--violet-300);
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.8);
  max-height: 600px;
}

.card-read {
  background-color: var(--green-500);
  /* color: var(--violet-500); */
  
}

.container-header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--violet-300);
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.8);
  color: var(--violet-500);
}

.container-header > h2 {
  justify-self: center;
}

.grid-row {
  display:grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
}

.padding {
  padding: 0.8rem;
}

.divCardLeftSection {
  background-color: var(--violet-300);
  border-radius: 8px 0px 0px 7px;

}

.read-toggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 1rem;
  align-self: center;
  padding: 1rem;
  gap: 2rem;
}

#pre-text > p {
  font-size: 1.2rem;
}

#pre-text > button {
  width: 180px;
  border: 1px solid var(--violet-500);
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.8);
  justify-self: center;
}

#pre-text {
  display: flex;
  flex-direction: column;
  background-color:  var(--violet-500);
  width: 100%;
  flex: 1;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.8);
  padding: 5px;
}

.buttonReadStatus {
  grid-column: 1;
  box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.3);
}

.buttonCardRemove {
grid-column-start: 2;
box-shadow: 0px 0px 10px rgb(97, 101, 148, 0.3);

} 


.overflow-auto {
  overflow: scroll;
  max-height: 250px;
}

.grid-form-inputs {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.grid-form-description {
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.grid-form-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
}

.grid-form {
  display: grid;
  gap: 1rem;
}

form {
  width: 100%;
  justify-self: center;
  align-self: center;
}

button {
  background-color: #616594;
  border-radius: 10px;
  border: 0px;
  color: var(--white-100);
}

button:hover {
  background-color: var(--green-100);
  color: var(--violet-500);
}